upstream abbr_server {
    server unix:{{ abbr_gunicorn_sock_path }} fail_timeout=0;
}

server {
	listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ abbr_domain }};

    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://abbr_server;
    }

	location /static/ {
		alias {{ abbr_source_dir }}/abbr/static/;
	}

    access_log  {{ abbr_log_dir }}/abbr.access.log;
    error_log   {{ abbr_log_dir }}/abbr.error.log;

    client_max_body_size 32M;

    ssl on;
    ssl_certificate {{ abbr_cert_path }}{{ abbr_cert_name }};
    ssl_certificate_key {{ abbr_cert_path }}{{ abbr_key_name }};
}
